default:
  image: maven:3.8.4-openjdk-17

stages:
  - build
  - test
  - scan
  - deploy-artifact

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml"
  MAVEN_DEBUG: "-e -X"
  GIT_DEPTH: 0
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache

compile-job:
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS clean compile
  when: always
  only:
    - tags
    - pushes
    - merge_requests

test-job:
  stage: test
  needs: [ "compile-job" ]
  script:
    - mvn $MAVEN_CLI_OPTS clean test
  when: on_success
  only:
    - tags
    - pushes
    - merge_requests

integration-test-job:
  stage: test
  needs: [ "compile-job" ]
  script:
    - mvn $MAVEN_CLI_OPTS clean verify
  allow_failure: true
  when: on_success
  only:
    - merge_requests
    - tags
    - develop
    - master

sonarqube-scan-job:
  stage: scan
  needs: [ "compile-job", "test-job" ]
  script:
    - mvn $MAVEN_CLI_OPTS clean install sonar:sonar
  allow_failure: false
  when: on_success
  only:
    - merge_requests
    - tags
    - develop
    - master

release-deploy:
  stage: deploy-artifact
  needs: [ "compile-job", "test-job", "integration-test-job", "sonarqube-scan-job" ]
  artifacts:
    paths:
      - "**/*.jar"
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^(release\/).*/
  script:
    - mvn $MAVEN_CLI_OPTS -Dmaven.test.skip=true clean deploy -Dmaven.deploy.skip=snapshots

snapshot-deploy:
  stage: deploy-artifact
  needs: [ "compile-job", "test-job", "integration-test-job", "sonarqube-scan-job" ]
  artifacts:
    paths:
      - "**/*.jar"
  only:
    variables:
      - $CI_COMMIT_TAG =~ /^(snapshot\/).*/
  script:
    - mvn $MAVEN_CLI_OPTS -Dmaven.test.skip=true clean deploy -Dmaven.deploy.skip=releases